project:
  type: website
  output-dir: docs
website:
  title: "ESAG_2025"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: questoes_estatistica.qmd
        text: Estatística
      - href: questoes_matematica_financeira.qmd
        text: Matemática Financeira

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



